.app {
    width: 100vw;
    height: 100%;
}

.appWrapper {
    // background-image: url("./../../assets/images/desk/bg.png");
    // background-size: 1120px;
    // background-size: contain;
    background-repeat: no-repeat;
    width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
    .appWrapper {
        width: 748px;
        padding: 0 10px;
        margin: 0 auto;
        height: 100%;
        .homeWrapper {
            gap: 20px;
        }
        .stakingBoxesWrapper {
            width: 100%;
            margin-top: 160px;
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 600px) {
    .appWrapper {
        // background-image: url("./../../assets/images/mob/mobg.png");

        width: unset;
        // padding: 10px 0;
        margin: 0 auto;
        height: 100%;
    }
    .stakingBoxesWrapper {
        margin-top: 60px !important;
    }
    .bg {
        top: 0px !important;
    }
}
