.progress {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin-top: 11px;
}

.progressContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: inherit;
    height: 17px;
    background: rgba(165, 176, 192, 0.17);
    border: 1px solid rgba(193, 186, 186, 0.29);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    .active-progress {
        position: absolute;
        top: -1px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        height: 100%;
        background: rgb(0, 102, 255);
        border: 1px solid rgba(193, 186, 186, 0.29);
        border-radius: 20px;
    }
}

.progressDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 500;
    width: inherit;
    label {
        display: flex;
        align-items: center;
        gap: 13px;
    }
}
