// body {
//   background-image: none;
// }

.errorWraper {
    position: relative;
    margin: -240px auto 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 350px;
    height: 377px;
    background: rgba(202, 202, 220, 0.1);
    -webkit-box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.43);
    box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.43);
    backdrop-filter: blur(22px);
    background-image: url("../../assets/images/popup-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    h4 {
        margin-top: 50px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 24px;
    }
    p {
        margin: 0;
        width: 229px;
        text-align: center;
    }
    .btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 0px 0px;
        gap: 16px;
        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 12px;
            gap: 10px;
            font-weight: 600;
            font-size: 16px;
            width: 135px;
            height: 40px;
            cursor: pointer;
            border-radius: 6px;
            background: rgba(255, 255, 255, 0.08);
            color: #ffffff;
            transition: all 0.25s;
        }

        :hover {
            color: #282829;
            background: #ffffff;
        }
    }
}

@media screen and (max-width: 360px) {
    .connectWraper {
        width: 95vw;
        height: auto;
    }
}
