// body {
//   background-image: none;
// }

.errorWraper {
    position: relative;
    margin: -240px auto 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 310px;
    // height: 377px;
    padding: 80px 0 20px 0;
    background: #1b1b1d;
    -webkit-box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.43);
    box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.43);
    background-image: url("../../assets/images/popup-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    //Font Style
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    .error-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 300px;
        margin-bottom: 10px;
        .header-tittle {
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 126%;
        }
        .header-text {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            text-align: center;
        }
    }

    .errorWraper-close {
        position: absolute;
        right: 25px;
        top: 25px;
        cursor: pointer;
    }
    .error-menu {
        font-weight: 600;
        font-size: 16px;
        line-height: 136%;
        display: flex;
        gap: 12px;
        flex-direction: column;
        backdrop-filter: blur(4px);
        .exchange-container {
            display: flex;
            gap: 8px;
            flex-direction: column;
            background: rgba(28, 28, 30, 0.3);
            border: 1px solid #393a3f;
            border-radius: 7px;
            padding: 15px;
            .exchange-btn {
                display: flex;
                justify-content: space-between;
                gap: 11px;
                border-radius: 7px;
                height: 20px;
                padding: 8px 12px 8px 9px;
                .exchange-btn-icon {
                    display: flex;
                }
                .exchange-btn-link {
                    margin-right: auto;
                }
                &:hover {
                    opacity: 0.6;
                }
                cursor: pointer;
            }
            .pancakeswap {
                padding-left: 12px;
                background: linear-gradient(
                    263.96deg,
                    #793cfa -15.84%,
                    #3c1491 115.26%
                );
            }
            .gate {
                padding-left: 12px;
                background: #b94d4c;
            }
            .mexc {
                background: #326ad5;
            }
        }
        .error-menu-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(28, 28, 30, 0.3);
            border: 1px solid #393a3f;
            border-radius: 7px;
            padding: 15px;
            gap: 50px;
            cursor: pointer;
            &:hover .btn-icon {
                opacity: 1;
            }
            .btn-icon {
                width: 24px;
                height: 24px;
                background: rgba(255, 255, 255, 0.2);
                opacity: 0.6;
                border-radius: 50%;
                position: relative;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .connectWraper {
        width: 95vw;
        height: auto;
    }
}
