// body {
//   background-image: none;
// }

.w3m-modal-overlay {
    background-color: unset;
}

.connectWraper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px 34px 24px;
    gap: 20px;
    width: 302px;
    // height: 298px;
    background: rgba(202, 202, 220, 0.1);
    backdrop-filter: blur(22px);
    border-radius: 20px;

    position: relative;
    margin: 0 auto;
    margin-top: 51px;
    p {
        padding: 10px;
        background: rgba(38, 38, 41, 0.6);
        border-radius: 6px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.56);
        border-radius: 6px;
        span {
            color: #288bfe;
        }
    }
}

.connectHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-weight: 600;
    font-size: 18px;
    width: inherit;
    label {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    img {
        cursor: pointer;
    }
}

.connectBtns {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: inherit;
    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px;
        gap: 16px;
        width: inherit;
        height: 62px;
        background: #262629;
        border: 1px solid rgba(80, 80, 83, 0.3);
        border-radius: 10px;
    }
}

@media screen and (max-width: 360px) {
    .connectWraper {
        width: 95vw;
        height: auto;
    }
}
