.activeWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    .active-link {
        pointer-events: none;
        background: rgba(35, 136, 255, 0.07);
        border-radius: 6px;
        color: #2388ff;
        padding: 10px;
    }
}

.navLinksWrapperActive {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 18px;
}

.activeNavLink {
    font-weight: 500;
    font-size: 16px;
    line-height: 126%;
    letter-spacing: 0.03em;
    color: #ffffff;
    opacity: 0.8;
    padding: 10px;
    //padding-top: 0px;
    margin-left: 10px;
}

.activeNavLink:hover,
.activeNavLink:focus {
    background: rgba(35, 136, 255, 0.07);
    border-radius: 6px;
    color: #2388ff;
    padding: 10px;
}

.dropWraper {
    display: flex;
    flex-direction: column;
}
.chainAndAccountContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    margin-left: 40px;
    .account {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 12px;
        gap: 12px;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid rgba(255, 255, 255, 0.08);
        border-radius: 8px;
        min-width: 162px;
        justify-content: center;
    }
    .dropdown {
        padding: 6px 30px 6px 6px;
        display: flex;
        cursor: pointer;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
        border: 1px solid rgba(255, 255, 255, 0.08);
        border-radius: 8px;
        background-image: url("../../assets/images/checkbox/arrowDown.svg");
        background-repeat: no-repeat;
        background-position: right 7% bottom 52%;
        min-width: 148px;
    }

    .ddItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 9px;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #ffffff;
        opacity: 0.9;
    }

    .item {
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 6px;

        background: #222224;
        border-radius: 8px;

        position: absolute;
        margin-top: 50px;

        label {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 9px;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.03em;
            color: #ffffff;
            opacity: 0.9;
            width: 139px !important;
            height: 40px !important;
            cursor: pointer;
            background: rgba(68, 68, 70, 0.37);
            border-radius: 8px;
            img {
                margin-left: 6px;
            }
            //       font-weight: 500;
            // font-size: 16px;
        }
    }

    .dropdown-toggle::after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .chainAndAccountContainer {
        width: 95vw;
        margin: 0 auto;
        margin-top: 15px;
        justify-content: space-between;
        .account {
            width: auto;
        }
    }
}
