.activeWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activeNavLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 126%;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0.8;
  margin-left: 35px;
}

.chainAndAccountContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  margin-left: 40px;
  .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 12px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;
  }
}
