.bg {
    position: absolute;
    top: -20px;
    right: 220px;
    width: 60%;
    z-index: -1;
}

.homeWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 100px;
}

h1 {
    margin: 0 !important;
}

.homeWrapper p {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #ffffff;
    opacity: 0.7;
    width: 400px;
    margin: 0;
    margin-top: 8px;
}

.stakingBoxesWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;

    .box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 18px;
        width: -webkit-fill-available;
        backdrop-filter: blur(22px);
        background: #38383b43;
        border-radius: 20px;
        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 81px;
            width: inherit;
            justify-content: space-between;
            font-size: 24px;
            label {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
            }
            .btnsContainer {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 8px;
                margin-left: 30px;
            }
            img {
                width: 81px;
                height: 81px;
            }
        }
    }
}

.whiteBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    height: 40px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255);
    border-radius: 6px;
    color: #282829;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    // opacity: 0.6;
    transition: all 0.3s;
}
.whiteBtn:hover {
    background: rgb(255, 255, 255, 0.6);
    border: 1px solid #ffffff;
}

button {
    margin: 0 !important;
}
.darkBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    height: 40px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 6px;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s;
}
.darkBtn:hover {
    opacity: 1;
}

.stakingLimit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    width: 100%;
    span {
        font-size: 24px;
    }
}

.newStaking {
    padding: 3px 10px;
    gap: 10px;
    // background: linear-gradient(104.41deg, #04abab 39.78%, #3e64ed 118.05%);
    border: 8px solid #0000;
    border-radius: 10px;
    background: linear-gradient(104.41deg, #04abab 39.78%, #3e64ed 118.05%)
            padding-box,
        linear-gradient(
                104.41deg,
                rgba(4, 171, 171, 0.21) 39.78%,
                rgba(62, 100, 237, 0.21) 118.05%
            )
            border-box;
    border-radius: 36px;
    position: absolute;
    z-index: 1;
    top: -18px;
    right: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 126%;
    letter-spacing: 0.01em;
}

@media screen and (max-width: 600px) {
    .homeWrapper {
        z-index: 1;
        position: relative;
        padding-top: 200px;
        justify-content: center;
        align-items: center;
        width: 95vw;
        margin: 0 auto;
    }
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw !important;
    }
    .homeWrapper p,
    .homeWrapper h1 {
        width: inherit;
        text-align: center;
    }
    .stakingBoxesWrapper {
        flex-direction: column;
        margin-top: 35px;
    }
    .stakingBoxesWrapper .box {
        align-items: flex-start;
    }
    .stakingBoxesWrapper .box .title {
        flex-direction: column;
        align-items: flex-start;
    }
    .darkBtn,
    .whiteBtn {
        width: -webkit-fill-available;
        height: 40px;
    }
    .btnsContainer {
        width: inherit;
        gap: 8px;
    }
    .stakingLimit {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    }
}

@media screen and (max-width: 768px) {
    .bg {
        position: absolute;
        top: -20px;
        right: -100px;
        width: 170%;
    }
}
