.stakeWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: inherit;
    justify-content: space-between;
    margin-top: 45px;
}

.claim-rewards-loader {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.chooseClaim {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        margin-right: 10px !important;
        padding: 6px 6px;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid rgba(255, 255, 255, 0.05);
        cursor: pointer;
        width: 100px;
        &:hover {
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid transparent;
        }
    }
}

.btnActive {
    background: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid transparent !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(45, 45, 48, 0.9);
    border: 1px solid rgba(79, 79, 82, 0);
    border-radius: 6px;
    height: 630px;
    color: #ffffff;
    overflow: hidden;
    .line {
        width: -webkit-fill-available;
        height: 0px;
        border: 1px solid rgba(79, 79, 82, 0.3);
    }
    h1 {
        font-weight: 600;
        font-size: 18px;
        line-height: 126%;
        padding: 26px;
    }
    .sectionWrapper {
        display: flex;
        flex-direction: column;
        padding: 26px;
        width: -webkit-fill-available;
    }
    .nft-rewards-placeholder {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 12px;
        background: rgb(35, 35, 37);
        .image-placeholder {
            width: 292px;
            height: 312px;
            border-radius: 10px;
            background-color: rgb(82, 82, 82);
        }
        .actions-placeholder {
            height: 48px;
            width: calc(100% - 52px);
            border-radius: 10px;
            background-color: rgb(82, 82, 82);
        }
        .nfts-btns-placeholder {
            height: 120px;
            width: calc(100% - 52px);

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
            gap: 10px;
            div {
                width: 100%;
                height: 100px;
                background-color: rgb(82, 82, 82);
                border-radius: 10px;
            }
        }
    }
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}
.containerLeft {
    width: 622px;
}
.algo-nft-rewards__wrapper {
    position: relative;
    overflow: hidden;
    .right-placeholder {
        position: absolute;
        top: 0px;
        width: 486px;
        height: 100%;
        border-radius: 6px;
        border: 1px solid transparent;
    }
}
.titleProp {
    font-weight: 600;
    font-size: 14px;
    line-height: 126%;
    letter-spacing: 0.03em;
    color: #ffffff;
    opacity: 0.6;
}

.containerRight {
    width: 486px;

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 136%;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.7);
        span {
            color: #2388ff;
        }
    }
}
.prop {
    font-weight: 500;
    font-size: 16px;
    line-height: 126%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
}
.value {
    font-weight: 500;
    font-size: 16px;
    line-height: 126%;
}
.small {
    font-weight: 500;
    font-size: 12px;
    line-height: 126%;
    opacity: 0.5;
}
.clipboard-label {
    display: flex;
    align-items: center;
}
.copyContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 16px;
    min-width: 104px;
    background: rgba(27, 27, 29, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 6px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    gap: 6px;
}

.nftsRewardsContainer {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    padding-top: 17px;
    overflow: hidden;
    // position: relative;
    // min-height: 115px;
    div {
        // position: absolute;
        // top: 10px;
        transition: all 0.5s;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 6px;
        img {
            cursor: pointer;
            min-width: 96px;
            height: 96px;
            border-radius: 10px !important;
        }
    }
}
.maxBtn {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 7px 8px;
    height: -webkit-fill-available;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 6px;
}

.tokenLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px 8px 10px;
    gap: 10px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.periodBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 7px;
    width: 130.5px;
    height: 77px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    font-weight: 400;
    font-size: 15px;
    span {
        font-weight: 600;
    }
}

.containerNft {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 16px;
    width: -webkit-fill-available;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 6px;
    img {
        width: 128px;
        height: 128px;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0px 0px;
        gap: 10px;
        label {
            font-weight: 500;
            font-size: 15px;
        }
        p {
            font-weight: 400;
            font-size: 15px;
            color: #ffffff;
            opacity: 0.7;
        }
        .linkNft {
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.03em;
            color: #2388ff;
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.flexStart {
    align-items: flex-start;
    margin-top: 11px !important;
    img {
        cursor: pointer;
    }
}
.paddingBottom {
    padding-bottom: 27px;
    border-bottom: none;
}

.agree {
    width: 390px;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    span {
        color: #288bfe;
    }
}

.blueBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 36px;
    gap: 10px;
    width: -webkit-fill-available;
    background: #2388ff;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    transition: all 0.25s;
    // cursor: pointer;
}
.blueBtn:hover {
    filter: brightness(1.1);
}
.mt-0 {
    margin-top: 0px !important;
}

.blackBtn {
    margin-top: 12px !important;
    background: rgba(255, 255, 255, 0.04);
}
.clipboard__wrapper {
    width: 60%;
    display: flex;
    gap: 10px;
}
.blackBtn--disabled {
    margin-top: 12px !important;
    background: rgba(2, 198, 139, 0.04);
    color: #02c68b;
    span {
        display: flex;
    }
}

.stakingDurDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fill-available;
    margin-top: 13px;
    // padding: 11px 26px 0px;
    .row {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.8) !important;
        span {
            color: #ffffff;
        }
    }
}
.carousel-main-image__wrapper {
    position: relative;
}
.carousel-main-image-placeholder {
    position: absolute;
    top: 0px;
    background-color: rgb(82, 82, 82);
    // border-radius: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel-main-image-placeholder::after {
    content: "";
    position: absolute;
    top: -40px;
    left: -100px;
    width: 150%;
    height: 200%;
    transform: rotate(200deg);
    opacity: 0.3;
    background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 60%
    );
    animation: shine 2.5s infinite;
}

.rewardsContainerMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
    .imgMain {
        width: 292px;
        height: 292px;
    }
    .btnWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px !important;
        width: 42px;
        height: 42px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;
        img {
            width: 10px !important;
            height: 16px !important;
        }
    }
}

.mT17 {
    margin-top: 12px !important;
}

.copyBtn {
    cursor: pointer;
}

.copyBtn:hover {
    filter: brightness(0.6);
}

.periodsRewards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.nft-actions {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.nft-actions-button {
    // width: 100px;
    flex-basis: 40%;
    background: #2388ff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.nft-actions-button--unoptined {
    // width: 100px;
    flex-basis: 40%;
    background: rgba(255, 255, 255, 0.04);
    color: #959596;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.nft-actions-button--disabled {
    background: rgba(2, 198, 139, 0.04);
    border-radius: 6px;
    color: #02c68b;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@media screen and (max-width: 600px) {
    .nft-actions-button,
    .nft-actions-button--disabled,
    .nft-actions-button--unoptined {
        width: 100%;
        padding: 16px 0;
    }
    .nft {
        width: 100%;
    }
    .stakeWrapper {
        flex-direction: column;
        gap: 9px;

        width: -webkit-fill-available;
    }
    .nft-actions {
        flex-direction: column;
    }
    .container .sectionWrapper {
        padding: 16px;
    }
    .copyContainer {
        width: 60%;
    }
    .container {
        height: auto;
    }
    .containerNft div p {
        display: none;
    }
    .containerLeft,
    .containerRight {
        width: -webkit-fill-available;
    }
    .amountInput input::placeholder {
        content: "MIN 1500 XPNET";
    }
    .amountInput {
        width: 70%;
    }
    .maxBtn {
    }
    .amountInput input {
        width: 70%;
    }
    .tokenLabel {
        align-items: center;
        padding: 14px 12px 13px 10px;
        font-weight: 600;
        font-size: 14px;
        margin-left: 6px;
    }

    .wrapPeriods {
        flex-wrap: wrap;
        gap: 10px;
        button {
            justify-content: center;
            align-items: center;
            width: 48%;
            height: 50px !important;
            padding: 16px 8px;
            flex-direction: row;
            font-weight: 400;
            font-size: 15px;
            span {
                font-weight: 600;
                font-size: 15px;
            }
        }
    }

    .containerNft {
        img {
            width: 109px;
            height: 109px;
        }
    }
    .warningDiv {
        display: none;
    }
    .summaryBox {
        flex-direction: row !important;
        flex-wrap: wrap;
        gap: 0px;
        justify-content: space-between;
        .row {
            flex-direction: column-reverse;
            width: 37%;
            align-items: flex-start !important;
            padding: 10px 16px;
            justify-content: space-between;
            border: 1px solid rgba(255, 255, 255, 0.08);
            border-radius: 6px;
            .prop {
                font-size: 14px;
                margin-top: 8px;
            }
            .value {
                font-size: 15px;
            }
        }
    }
    .column {
        align-items: flex-start !important;
        width: -webkit-fill-available;
    }
    .flexStart {
        width: -webkit-fill-available !important;
        flex-direction: row !important;
        gap: 19px;
        border: none !important;
        .agree {
            width: -webkit-fill-available !important;
        }
    }
    .blueBtn {
        margin-top: 25px !important;
    }
    .blackBtn {
        margin-top: 12px !important;
    }
    .rewardsContainerMain {
        .imgMain {
            width: 205px;
            height: 205px;
        }
    }
    .nftsRewardsContainer {
        div {
            flex-wrap: wrap;
            img {
                width: 72.75px;
                height: 89px;
            }
        }
    }
    .stakingDurDiv {
        .row {
            padding: 0;
            flex-direction: row;
            width: -webkit-fill-available !important;
            border: none;
        }
        width: -webkit-fill-available !important;
        //   flex-direction: row !important;
    }

    .periodsRewards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: -webkit-fill-available !important;
        .row {
            width: 30vw !important;
        }
        #row1 {
            order: 1;
        }
        #row2 {
            order: 3;
        }
        #row3 {
            order: 2;
        }
        #row4 {
            order: 4;
        }
    }
}

@media screen and (max-width: 768px) {
    .containerLeft {
        width: unset;
        width: 100%;
    }
    .containerRight {
        width: 100%;
    }
    .stakeWrapper {
        gap: 20px;
    }
    .copyContainer {
        width: 80%;
    }
    .nft-actions-button,
    .nft-actions-button--unoptined {
    }
}

@media screen and (max-width: 500px) {
    .periodsRewards .row {
        width: 35% !important;
    }
}

@media screen and (max-width: 380px) {
    .wrapPeriods {
        button {
            // width: -webkit-fill-available;
        }
    }
    .nftsRewardsContainer {
        div {
            flex-wrap: wrap;
            img {
                width: 72.75px;
                height: 89px;
            }
        }
    }
}

@keyframes shine {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}
