@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.App {
    text-align: center;
    /* background-image: url("./assets/images/desk/bg.png") !important; */
}

body {
    background: #1b1b1d;
    background-image: url("/src/assets/images/desk/bg.png");
    background-size: 1450px;
    background-position-x: 45%;
    background-position-y: 10%;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 500;
    font-size: 46px;
    line-height: 120%;
}

.mobOnly {
    display: none !important;
}

.deskOnly {
    display: flex !important;
}

.connectBtn {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .mobOnly {
        display: flex !important;
    }

    .deskOnly {
        display: none !important;
    }

    body {
        background-image: url("./assets/images/mob/mobg.png");
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("./assets/images/mob/mobg.png");
        background-position-y: -10%;
        background-position-x: 105%;
        background-size: 800px;
    }
}
